
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap'); */


*{
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Ubuntu', sans-serif;

}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: fit-content;
    padding: 20px 40px;
    transform: translate(-50%,-50%);
    background: #232222;
    box-shadow: 0 15px 25px rgb(189, 187, 187);
    border-radius: 10px;
    box-sizing: border-box;
}
.loginBox h2{
    margin: 0 0 30px;
    padding: 5px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-size: 30px;
    background: linear-gradient(270deg,#D74345,black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.loginBox .userBox input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    box-sizing: border-box;
}

.loginBox .userBox label{
    position: relative;
    top: 0;
    left: -60px;
    padding: 10px 0;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    box-sizing: border-box;
}
.loginBox .userBox input:focus~label,
.loginBox .userBox input:valid~label {
    top: -85px;
    left: 0;
    color: #D74345;
    font-size: 14px;
}
#loginBtn{
    position: absolute;
    padding: 10px 30px;
    margin: -33px 100px;
    color: #D74345;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.5s;
    box-sizing: border-box;
}
#loginBtn::before{
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #D74345;
    border-left: 2px solid #D74345;
    transition: 0.5s;
    transition-delay: 0.5s;
}
#loginBtn::after{
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #D74345;
    border-right: 2px solid #D74345;
    transition: 0.5s;
    transition-delay: 0.5s;
}
#loginBtn:hover::before, #loginBtn:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
    border-radius: 5px;
}
#loginBtn:hover{
    background: #D74345;
    color: #fff;
    box-shadow: 0 0 30px #D74345;
    transition-delay: 0.5s;
    border-radius: 2px;

}
.buttonFormLogin{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    box-sizing: border-box;

}
.register{
    font-size: 14px;
    text-decoration: none;
    color: rgb(206, 206, 250);
    margin: 0px auto;
    margin-top: 30px;
    width: 60%;
    text-align: center;
    box-sizing: border-box;

}
.register a{
    display: inline-block;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 7px;
    justify-content: center;
    color: #D74345;
    text-decoration: none;
    box-sizing: border-box;
}
.register a:hover{
    box-shadow: 0 0 20px #D74345;
    background-color: #D74345;
    color: #fff;
    border-radius: 3px;
    transition-duration: 0.5s;
}

