.card{
    background: #232222;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25vw;
    font-family: "Roboto";
    height: 25vh;
    /* border: 1px solid black; */
    padding: 8px 23px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 4px rgba(20, 20,20, 0.4);
    border-radius: 20px;
}
.card h4{

    color: rgb(173, 170, 170);
}
.card h2{
    color:  rgb(255, 255, 255);
}
.cardBtn{
    width: 10vw;
    height: 5vh;
    position: relative;
    bottom: 1px;
    font-size: 16px;
    background-color: #D74345;
    border: none;
    color: white;
    box-shadow: 1px 1px 5px 1px #D74345;
    border-radius:10px ;
    cursor: pointer;
}

.card:hover{
    cursor: pointer;
    box-shadow: 2px 2px 15px rgb(238, 121, 121);
    transition-duration: 0.3s;
}
