
.RegisterForm{
    display: inline-block;
    width: 40vw;
    padding: 30px;
    height: 50vh;
    box-shadow: 3px 3px 15px 3px rgb(184, 183, 183);
    margin: 50px auto;
    box-sizing: border-box;
    border-radius: 5px;
}
.RegisterContainer{
    display:flex;
    align-items: center;
    justify-content: center;
}
.Head {
    display: flex;
    width: 8vw;
    justify-content: center;
    margin: 0px auto;
    font-size: 18px;
    text-shadow: 2px 2px 2px grey;
}
.form{
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.inputform{
    display: inline-block;
    width: 25vw;
    padding-left: 20px;
    height: 5vh;
    margin: 0px auto;
    outline: none;
}
.submit{
    display: inline-block;
    margin: 0px auto;
    width: 12vw;
    height: 7vh;
    font-size: 15px;
    background-color: blue;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 16px;
}
.submit:hover{    
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px blue;
    transition-duration: 0.3s;
}

